In [1]:
print("halo")

halo

In [28]:
# ini comment

markdown adalah cara menulis notes di jupyter notebook (dan github) biasanya dalam bentuk file `.md`   
detail cara tulis dengan markdown bisa dilihat di https://www.markdownguide.org/basic-syntax/

- bisa tarik data masuk ke python notebook, contoh:
```python
import pandas as pd
df = pd.read_excel('obes.xls')
df
```

# Basic Python - Data Types
Simple Data Types:
1. Integer <class 'int'> angka bulat
2. Float <class 'float'> angka tidak bulat
3. String <class 'str'> text yang dikutip, bisa angka, abjad, simbol
4. Boolean <class 'bool'> True atau False

Structured Data Types:
1. List
2. Tuple
3. Dictionary
4. Set (tidak dipelajari di kelas ini)

## Integer

In [3]:
7652

7652

In [4]:
print(67451)

67451

In [5]:
print(type(5413)) # integer

<class 'int'>

## Float

In [6]:
# float
print(1.0)
print(type(1.0))

1.0
<class 'float'>

In [7]:
print(1.315470)
print(type(1.315470))

1.31547
<class 'float'>

In [8]:
# integer campur float untuk fungsi aritmatik + - * / % semuanya bisa
12 + 2.5

14.5

In [10]:
# untuk memastikan data tercetak, pakai print/ display. jika tidak, hanya data di baris terakhir yang tercetak
2
3
print(54)
display(6)
7
89

54

6

89

## String
gunakan kutip untuk membuat string

In [12]:
print("12dfg<>.")
print('12df<>.')

12dfg<>.
12df<>.

In [17]:
print("andy's diner")
print('andy\'s diner')
print(type("string"))

andy's diner
andy's diner
<class 'str'>

## Boolean
True atau False, iya atau tidak

In [16]:
print(True)
print(False)
print(type(True))

True
False
<class 'bool'>

ada hal yang dianggap True (truthy) dan ada hal yang dianggap False (falsy) oleh Python. Lebih mudah belajar dari yang False (falsy):
- angka integer 0
- float 0.0
- string kosong "", atau ''
- list kosong []
- tuple kosong ()
- dictionary kosong {}

## convert data types

In [20]:
# ubah integer jadi float, boolean, str
print(float(15))
print(bool(15))
print(str(15))

15.0
True
15

In [21]:
# ubah string jadi float, boolean, int
print(float("25"))
print(bool("25"))
print(int("25"))

25.0
True
25

In [24]:
# string yang tidak bisa jadi angka
bool("andi")

True

In [25]:
# ubah float jadi boolean, integer, string
print(bool(5.5))
print(int(5.5))
print(str(5.5))

True
5
5.5

In [26]:
# contoh falsy values
print(bool(""))
print(bool(''))
print(bool(0))
print(bool(0.0))

False
False
False
False

# Variable
tempat simpan data, sebuah nama, sebuah penampungan data yang ada namanya

ada beberapa rules penamaan variable:
- tidak boleh ada spasi, spasi kita ubah jadi _ (cara penulisan snake_case)
    - camelCase --> function
    - PascalCase --> class
    - kebab-case
    - snake_case --> variable
- tidak boleh dimulai dengan angka
- bagi python, huruf besar dan kecil itu berbeda, jadi pastikan cara penulisan nama variable kita konsisten

In [29]:
# assign string "Selamat malam" ke variable message
# variable assignment
message = "Selamat malam"

In [30]:
print(message)

Selamat malam

In [33]:
# misal mau simpan umur andi
umurAndi = 12
UmurAndi = 13
UMURandi = 14
_umur_Andi = 15
umur_andi = 16
umur_Andi = 17

print(umurAndi, UmurAndi, UMURandi, _umur_Andi, umur_andi, umur_Andi)

12 13 14 15 16 17

In [35]:
# variable bisa di isi ulang, "re-assign"
print(message)
message = "halo saya Andi"
print(message)

Selamat malam
halo saya Andi

In [36]:
print(message)

halo saya Andi

In [37]:
# di python variable tidak punya tipe data, dulu isi string, skr ini int, boleh2 aja
message = 13
message = 12.5
message = False
print(message)

False

# Manipulasi Data
- operator dan expession di Python
    - arithmetic operator \+ \- \* \/ \% \**
    - comparison operator \> \< \>\= \<\= \== \!\=
    - in
- built-in functions
    - string ada fungsi untuk ubah case nya (misal jadi BESAR SEMUA atau kecil semua)

## arithmetic operator

In [38]:
5 + 6

11

In [39]:
a = 5
b = 6

c = a + b
print("hasil tambah a dan b", c)

hasil tambah a dan b 11

In [40]:
a + b - 10 / 3

7.666666666666666

In [43]:
# pangkat
a**3

125

In [42]:
# modulo % adalah sisa dari pembagian
# misalnya 5 bagi 3 adalah 1 sisa 2
print(5 / 3)
print(5 % 3) # modulo ambil sisanya

1.6666666666666667
2

## comparison operator

In [50]:
a = 20
b = 10

print(a > b)
print(a < b)

print(a >= b)
print(a <= b)

print(a == b)
print(a != b)

True
False
True
False
False
True

## string manipulation

In [174]:
message = "halo halo Bandung"
print(message)

halo halo Bandung

In [175]:
# cek panjang string, ada berapa karakter di dalam string, pakai len()
print(message)
print(len(message))

halo halo Bandung
17

### dengan + dan *

In [58]:
print(message + " dan Bali " + str(21.5))

halo halo Bandung dan Bali 21.5

In [62]:
print((message + ". \n") * 5)

halo halo Bandung.
halo halo Bandung.
halo halo Bandung.
halo halo Bandung.
halo halo Bandung.

### dengan operator "in"

In [63]:
# ada Bali nggak di message?
"Bali" in message

False

In [64]:
print(message)

halo halo Bandung

In [65]:
"Bandung" in message

True

In [66]:
"bandung" in message

False

untuk detail cara manipulasi string/data lainnya, bisa lihat di dokumentasi W3School https://www.w3schools.com/python/default.asp

### konversi case sebuah string

In [69]:
message = "halo halo~ Bandung dan Bali 2022"
print(message)

halo halo~ Bandung dan Bali 2022

In [75]:
# UPPERCASE
print(message.upper())

# lowercase
print(message.lower())

# Title Case
print(message.title())

# sWAP cASE
print(message.swapcase())

# Capitalize
print(message.capitalize())

HALO HALO~ BANDUNG DAN BALI 2022
halo halo~ bandung dan bali 2022
Halo Halo~ Bandung Dan Bali 2022
HALO HALO~ bANDUNG DAN bALI 2022
Halo halo~ bandung dan bali 2022

In [77]:
"bandung".lower() in message.lower()

True

# List
- dibuat dengan []
- banyak data di dalam satu list
- tipe data yang bisa disimpan dalam list bebas
- akses data dalam list pakai index

In [78]:
# simpan nama buah-buahan di satu list
list_buah = ['Jeruk', 'Mangga', 'Kelapa']
print(list_buah)
print(type(list_buah))

['Jeruk', 'Mangga', 'Kelapa']
<class 'list'>

In [83]:
# bisa diubah tipe datanya jadi string atau boolean
print(bool(list_buah))
print(str(list_buah))

True
['Jeruk', 'Mangga', 'Kelapa']

## cara baca list

In [85]:
# indexing - ambil 1 item dalam list
# misal ambil index 0 untuk dapat 'Jeruk'
buah = list_buah[0]
print(buah)

Jeruk

In [86]:
# ambil Kelapa
buah = list_buah[2]
print(buah)

Kelapa

In [87]:
buah = list_buah[-1]
print(buah)

Kelapa

In [89]:
# slicing - ambil bbrp item sekaligus dalam list
# misal ambil index 0 dan 1 untuk dapat 'Jeruk' dan 'Mangga'
buah2 = list_buah[0:2]
print(buah2)

['Jeruk', 'Mangga']

In [92]:
buah2 = list_buah[:2]
print(buah2)

['Jeruk', 'Mangga']

In [90]:
# mangga dan kelapa
buah2 = list_buah[-2:]
print(buah2)

['Mangga', 'Kelapa']

In [91]:
# ambil semuanya
buah2 = list_buah[:]
print(buah2)

['Jeruk', 'Mangga', 'Kelapa']

## + dan * sebuah list

In [93]:
print(list_buah)

['Jeruk', 'Mangga', 'Kelapa']

In [94]:
print(list_buah + ['Apel', 'Pir'])

['Jeruk', 'Mangga', 'Kelapa', 'Apel', 'Pir']

In [95]:
print(list_buah)

['Jeruk', 'Mangga', 'Kelapa']

In [96]:
print(list_buah * 3)

['Jeruk', 'Mangga', 'Kelapa', 'Jeruk', 'Mangga', 'Kelapa', 'Jeruk', 'Mangga', 'Kelapa']

## len, min, max
len - cek seberapa "panjang" length sebuah list, ada berapa item di dalam   
min - ambil item terkecil   
max - ambil item terbesar

In [101]:
list_buah = ['Apel', 'Buah Naga', 'Duku', 'Melon']
print(list_buah)
print(len(list_buah))
print(min(list_buah))
print(max(list_buah))

['Apel', 'Buah Naga', 'Duku', 'Melon']
4
Apel
Melon

In [102]:
list_angka = [123,-49586,0,34,2]
print(list_angka)
print(len(list_angka))
print(min(list_angka))
print(max(list_angka))

[123, -49586, 0, 34, 2]
5
-49586
123

## ubah item list

In [103]:
print(list_buah)

['Apel', 'Buah Naga', 'Duku', 'Melon']

In [105]:
# ubah apel jadi jeruk
list_buah[0] = "Jeruk"

In [106]:
print(list_buah)

['Jeruk', 'Buah Naga', 'Duku', 'Melon']

In [109]:
# ubah Jeruk, Buah Naga, dan Duku menjadi Pisang dan Durian
list_buah[:3] = ["Pisang", "Durian"]

In [110]:
print(list_buah)

['Pisang', 'Durian', 'Melon']

## append, remove
menamdah dan mengurangi item dari sebuah list

In [111]:
print(list_buah)

['Pisang', 'Durian', 'Melon']

In [112]:
# tambahin buah nanas
list_buah.append("Nanas")

In [113]:
print(list_buah)

['Pisang', 'Durian', 'Melon', 'Nanas']

In [114]:
# hapus Durian
list_buah.remove("Durian")

In [115]:
print(list_buah)

['Pisang', 'Melon', 'Nanas']

In [121]:
# append dengan +, perlu re-assign
list_buah = list_buah + ["Semangka"]

In [122]:
print(list_buah)

['Pisang', 'Melon', 'Nanas', 'Semangka']

In [125]:
# duplikat dengan *, perlu re-assign
list_buah = list_buah * 2

In [126]:
print(list_buah)

['Pisang', 'Melon', 'Nanas', 'Semangka', 'Pisang', 'Melon', 'Nanas', 'Semangka']

## operator in

In [127]:
# ada apel gak di list_buah?
"Apel" in list_buah

False

## tipe data item dalam list bebas

In [129]:
list_random = [123, 23.5, True, "halo", [1,3,4]]
print(list_random)

[123, 23.5, True, 'halo', [1, 3, 4]]

# Tuple
- mirip sama list
- buatnya pakai ()
- item dalam tuple tidak bisa diganti

In [135]:
nilai_ujian = (50,70,59,100)

print(nilai_ujian)
print(type(nilai_ujian))

(50, 70, 59, 100)
<class 'tuple'>

karena tuple tidak bisa kita edit item nya, kalau mau append, kita ubah jadi list dulu, append, baru ubah balik jadi tuple

In [136]:
tuple(list(nilai_ujian) + [82])

(50, 70, 59, 100, 82)

In [137]:
# akses item di tuple, pakai index
nilai_andi = nilai_ujian[0]
print(nilai_andi)

50

tidak bisa re-assign nilai item di tuple
```python
nilai_ujian[0] = 100
```
ini akan error

## packing unpacking untuk list dan tuple

In [144]:
list_buah = ["Apple", "Banana", "C"]
a,b,c = list_buah

print(a)
print(b)
print(c)

Apple
Banana
C

In [147]:
andi, budi, cindy, denis = nilai_ujian
print(andi)
print(budi)
print(cindy)
print(denis)

50
70
59
100

# Dictionary
- cara buat pakai {}
- menjelaskan apa itu objek dunia nyata ke komputer, ada atribut dan value, key-value
- setiap item dalam dictionary itu sepasang key dan value
- key selalu string
- value bebas
- tidak punya index, index digantikan oleh key
- list dengan custom index (key)

In [156]:
andi = {
    "nama" : "Andhika Widjaja", 
    "umur" : 24,
    "hobi" : ["tidur", "programming"],
}
print(andi)
print(type(andi))

{'nama': 'Andhika Widjaja', 'umur': 24, 'hobi': ['tidur', 'programming']}
<class 'dict'>

In [158]:
harga_sepatu = {
    37: 550000,
    37.5: 560000,
    38: 570000
}

print(harga_sepatu)

# key otomatis diubah jadi string oleh python

{37: 550000, 37.5: 560000, 38: 570000}

## cara baca dictionary

In [160]:
# mau ambil hobi nya andi
andi['hobi']

['tidur', 'programming']

In [164]:
# ambil hobi pertama andi
andi['hobi'][0]

'tidur'

## ubah item sebuah dictionary

In [162]:
# ubah umur andi jadi 32
andi['umur'] = 32

In [163]:
print(andi)

{'nama': 'Andhika Widjaja', 'umur': 32, 'hobi': ['tidur', 'programming']}

## nambah item ke dictionary

In [166]:
# input juga nomor student ID andi ke dict nya
print(andi)
andi['student_id'] = "PYTN071_S01"

print(andi)

{'nama': 'Andhika Widjaja', 'umur': 32, 'hobi': ['tidur', 'programming']}
{'nama': 'Andhika Widjaja', 'umur': 32, 'hobi': ['tidur', 'programming'], 'student_id': 'PYTN071_S01'}

In [167]:
# dengan cara yang sama, kita bisa buat dictionary kosong lalu baru diisi satu satu
budi = {}
budi['nama'] = "Andreas Budiman"
budi['umur'] = 16
budi['hobi'] = ["sepeda", "basket"]

print(budi)

{'nama': 'Andreas Budiman', 'umur': 16, 'hobi': ['sepeda', 'basket']}

## lihat isi dictionary

In [169]:
# cek semua key dalam dictionary
budi.keys()

dict_keys(['nama', 'umur', 'hobi'])

In [171]:
# semua values
budi.values()

dict_values(['Andreas Budiman', 16, ['sepeda', 'basket']])

In [170]:
# semua item
budi.items()

dict_items([('nama', 'Andreas Budiman'), ('umur', 16), ('hobi', ['sepeda', 'basket'])])

In [172]:
# panjang dictionary, ada brp item dalam dictionary ini
len(budi)

3

## latihan sesi 1:
- instalasi Anaconda (atau VSCode + extension yang diperlukan)
- buat sebuah python notebook
- buat variable untuk setiap tipe data, coba bikin setiap tipe data
    - int
    - float
    - str
    - bool
    - list
    - tuple
    - dict
- buat akun github di https://github.com/
- instalasi github desktop https://desktop.github.com/